
# Visual Studio
.vs/


# Build output
bin/
obj/

# User-specific files
*.user
*.suo

# NuGet
packages/

/.vs/*
/CoffeeProjectCSharp/.vs/*
/CoffeeProjectCSharp/bin/*
/CoffeeProjectCSharp/obj/*
/packages/*

